/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
body.html {
  background: #fff url(../img/fh-bg.jpg) repeat-y top center;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body.toolbar-drawer {
  padding-top: 30px;
}

#toolbar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ----- Body ------------------------ */
.node-page img.media-image {
  margin-right: 1em;
  margin-bottom: 1em;
}

/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
em {
  padding: 0;
}

/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
body.logged-in .navbar-fixed-top {
  margin-top: 30px;
}
/* ----- Header Region --------------- */

#overlay-container {
  margin-top: 10px;
}

#header {
  background: rgba(102,102,102,0.75);
  margin-top: 43px;
  margin-bottom: 0;
}

#name-and-slogan > div {
  display: none;
}

#name-and-slogan {
  height: 34px;
  background: url(../img/fh-logo.png) no-repeat left center;
}
/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
#top-nav {
  background: url(../img/fh-bg.jpg) no-repeat top center;
  background-size: 100%;
  font-weight: bold;
  color: #5b6a45;
  z-index: 400;
}

#top-nav, #top-nav li {
  padding: 0;
}

#top-nav a {
  padding: 8px 5px 10px 5px;
  color: #5b6a45;
}

#top-nav ul.nav {
  padding-top: 5px;
  float: left;
  font-size: 14px;
}

.region-top-nav .block {
  display: inline-block;
}

.region-top-nav .block p {
  margin-bottom: 0;
}

#top-nav .facebook, #top-nav .twitter {
  display: inline-block;
  font-size: 24px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#top-nav .facebook {
  padding-left: 15px;
  padding-right: 15px;
}

#top-nav form {
  position: relative;
  top: -4px;
  margin-right: 5px;
}

/* ----- Main Navigation ------------- */
.navbar .nav li.dropdown>.dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

#main-menu {
  background: rgba(102,102,102,0.75);
  margin-bottom: 25px;
}

.front #main-menu {
  margin-bottom: 20px;
}

#main-menu .navbar {
  margin-bottom: 0;
}

#main-menu .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#main-nav > ul > li > a {
  font-weight: bold;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#main-nav > ul > li.active > a,
#main-nav > ul > li.open > a {
  color: #666;
  background: #c8ccbd;
}

#main-nav > ul > li > ul > li > a:hover,
#main-nav > ul > li > ul > li.active > a {
  background: #666;
}

/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */
#block-views-current-issue-block-1,
#block-views-current-issue-block-2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  background: rgba(255,255,255,0.6);
  padding: 20px;
}

#block-views-sidebar-images-block {
  text-align: center;
}

#block-views-current-issue-block-1 a,
#block-views-current-issue-block-2 a {
  color: #5b6a45;
}

#block-views-current-issue-block-1 .views-field-field-image,
#block-views-current-issue-block-2 .views-field-field-image {
  margin-bottom: 20px;
}

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
#footer {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  background: url(../img/fh-bg.jpg) repeat-y top center;
  background-size: 100%;
}

#footer-wrapper {
  padding-top: 25px;
  background: rgba(102,102,102,0.75);
}

#footer .footnav > .span3 {
  margin-bottom: 25px;
}

#footer a {
  color: #e0e0e0;
}

#footer li, #footer ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#footer li.main {
  font-weight: bold;
  margin-bottom: 5px;
}

#footer .disclaimer {
  font-style: italic;
}

#footer-bottom {
  text-align: center;
  padding: 20px 0;
  background: #fff;
}

/* CONTENT ******************************** */

.page-stop-look-listen-all #page-title,
.page-stop-look-listen-radio-fiddlehead #page-title,
.page-stop-look-listen-music #page-title,
.page-stop-look-listen-whats-up #page-title,
.page-stop-look-listen-visual-art #page-title,
.page-stop-look-listen-books #page-title {
  display: none;
}

#featurebar .block {
  margin-bottom: 0;
}

#featurebar {
  padding-bottom: 25px;
}

#main {
  margin-top: 25px;
  margin-bottom: 0;
}

#main-content a {
  color: #5b6a45;
}

#content-head {
  margin: 0;
}

.carousel-caption {
  background: rgba(255,255,255,0.85);
}

.carousel-caption p, .carousel-caption h4 {
  color: #000;
}

#myCarousel > p {
  margin-bottom: 0;
}

#myCarousel {
  margin-bottom: 0;
}

#myCarousel img {
  width: 100%;
}

#content-top .block {
  margin-bottom: 0;
}

#main-wrapper {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar-second {
  padding-top: 10px;
}

.node-issue .field-name-field-image, .node-article .field-name-field-image, .node-podcast .field-name-field-image-podcast {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.node-issue ul.links, .node-article ul.links, .node-article .field-name-field-tags, .node-podcast .field-name-field-audio {
  clear: both;
  display: block;
}

#comments {
  clear: both;
}

.article-index-cover {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

/* VIEWS ********************************** */

.view-frontpage article h2, .view-display-id-page_1 article h2,
.view-stop-look-listen- article h2,
.view-non-fiction article h2,
.view-fiction article h2,
.view-poetry article h2
{
  margin-top: 0;
}

.view-frontpage article, .view-display-id-page_1 article,
.view-stop-look-listen- article,
.view-non-fiction article,
.view-fiction article,
.view-poetry article,
.page-stop-look-listen .view-header
{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d0d0d0;
}

#views-exposed-form-article-index-page .form-item-field-category-tid .description {
  display: none;
}

/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */

@media (min-width: 767px) {
  #main-nav > ul > li:nth-last-child(1),
  #main-nav > ul > li:nth-last-child(2),
  #main-nav > ul > li:nth-last-child(3),
  #main-nav > ul > li:nth-last-child(4),
  #main-nav > ul > li:nth-last-child(5)
  {
    display: none;
  }
}

@media (max-width: 979px) {
  #footer .span4, #footer .span8, #footer .span3  {
    width: 100%;
  }

  #footer .span4, #footer .span3 {
    margin-left: 0;
  }

  #featurebar [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  body.html {
    background: #fff;
  }

  #header {
    margin-top: 25px;
  }

  #main-wrapper {
    background: transparent;
    padding-bottom: 0;
  }

  #name-and-slogan {
    background: url(../img/fh-logo-small.png) no-repeat center center;
    padding-left: 0;
  }

  #top-nav-wrapper .menu {
    display: none;
  }

  #top-nav-wrapper .container {
    width: 100%;
  }

  #top-nav .pull-right {
    float: none;
    margin-left: 10px;
  }

  #main-menu .dropdown-menu a {
    color: #fff;
  }

  #main-menu .container {
    background: #606060;
  }

  #main-menu button span.hide {
   color: #000;
   display: inline;
  }

  .navbar .btn-navbar .icon-bar {
    display: none;
  }

  .navbar .btn-navbar {
    font-size: 14px;
    padding: 7px;
    text-align: left;
    text-transform: uppercase;
    background: #eee;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #main-nav ul li a:hover {
    background: #aaa;
  }

  #main-nav > ul > li:nth-child(2) {
    display: none;
  }

  #featurebar {
    padding-bottom: 1em;
  }

  #myCarousel .item img {
    height: 100%;
  }

  .carousel-caption {
    background: #eee;
  }

  #content {
    margin-bottom: 25px;
  }

  #content, #sidebar-second {
    background: #fff;
  }

  .sidebar, .main .block {
    margin-bottom: 0;
  }

  #footer {
    background: transparent;
  }

  #footer-bottom {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  #footer-bottom .span3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* override Open Framework footer & sidebar block width */
  #footer-content .block, #sidebar-second .block {
    width: 100%;
  }

  #sidebar-second .block {
    padding: 5px 0;
  }

  #footer-content > div {
    margin-left: 1em;
    margin-right: 1em;
  }

  #block-block-6 .span8 {
    display: none;
  }
}
/* ----- Print ----------------------- */
