/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
body.html {
  background: #fff url(../img/fh-bg.jpg) repeat-y top center;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body.toolbar-drawer {
  padding-top: 30px;
}

#toolbar {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ----- Body ------------------------ */
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */

/* HEADER ********************************* */
body.logged-in .navbar-fixed-top {
  margin-top: 30px;
}
/* ----- Header Region --------------- */

#overlay-container {
  margin-top: 60px;
}

#header {
  background: rgba(102,102,102,0.75);
  margin-top: 43px;
  margin-bottom: 0;
}

#name-and-slogan > div {
  display: none;
}

#name-and-slogan {
  height: 34px;
  background: url(../img/fh-logo.png) no-repeat left center;
}
/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */

/* NAVIGATION ***************************** */
#top-nav {
  background: url(../img/fh-bg.jpg) no-repeat top center;
  background-size: 100%;
  font-weight: bold;
  color: #5b6a45;
}

#top-nav, #top-nav li {
  padding: 0;
}

#top-nav a {
  padding: 8px 5px 10px 5px;
  color: #5b6a45;
}

#top-nav ul.nav {
  padding-top: 5px;
  float: left;
  font-size: 14px;
}

.region-top-nav .block {
  display: inline-block;
}

.region-top-nav .block p {
  margin-bottom: 0;
}

#top-nav .facebook, #top-nav .twitter {
  display: inline-block;
  font-size: 24px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#top-nav .facebook {
  padding-left: 15px;
  padding-right: 15px;
}

#top-nav form {
  position: relative;
  top: -4px;
  margin-right: 5px;
}

/* ----- Main Navigation ------------- */
.navbar .nav li.dropdown>.dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

#main-menu {
  background: rgba(102,102,102,0.75);
  margin-bottom: 25px;
}

.front #main-menu {
  margin-bottom: 20px;
}

#main-menu .navbar {
  margin-bottom: 0;
}

#main-menu .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#main-nav > ul > li > a {
  font-weight: bold;
  color: #fff;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#main-nav > ul > li.active > a,
#main-nav > ul > li.open > a {
  color: #666;
  background: #c8ccbd;
}

#main-nav > ul > li > ul > li > a:hover,
#main-nav > ul > li > ul > li.active > a {
  background: #666;
}

/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */
#block-views-current-issue-block-1,
#block-views-current-issue-block-2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  background: rgba(255,255,255,0.6);
  padding: 20px;
}

#block-views-current-issue-block-1 a,
#block-views-current-issue-block-2 a {
  color: #5b6a45;
}

#block-views-current-issue-block-1 .views-field-field-image,
#block-views-current-issue-block-2 .views-field-field-image {
  margin-bottom: 20px;
}

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
#footer {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  background: url(../img/fh-bg.jpg) repeat-y top center;
}

#footer-wrapper {
  padding-top: 25px;
  background: rgba(102,102,102,0.75);
}

#footer .row {
  margin-bottom: 25px;
}

#footer a {
  color: #e0e0e0;
}

#footer li, #footer ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#footer li.main {
  font-weight: bold;
  margin-bottom: 5px;
}

#footer .disclaimer {
  font-style: italic;
}

#footer-bottom {
  text-align: center;
  padding: 20px 0;
  background: #fff;
}

/* CONTENT ******************************** */

#featurebar .block {
  margin-bottom: 0;
}

#main {
  margin-top: 25px;
  margin-bottom: 0;
}

#main-content a {
  color: #5b6a45;
}

#content-head {
  margin: 0;
}

.carousel-caption {
  background: rgba(255,255,255,0.75);
}

.carousel-caption p, .carousel-caption h4 {
  color: #000;
}

#myCarousel > p {
  margin-bottom: 0;
}

#myCarousel {
  margin-bottom: 10px;
}

#myCarousel img {
  height: 350px;
  width: 100%;
}

#content-top .block {
  margin-bottom: 0;
}

#main-wrapper {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar-second {
  padding-top: 10px;
}

.node-issue .field-name-field-image {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.node-issue ul.links {
  clear: both;
  display: block;
}

#comments {
  clear: both;
}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
@media (max-width: 767px) {
  body.html {
    background-size: auto;
    background-attachment: fixed;
  }

  #footer {
    background: transparent;
  }

  #footer-bottom {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  #footer-bottom .span4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* override Open Framework footer block width */
  #footer-content .block {
    width: 100%;
  }

  #footer-content > div {
    margin-left: 1em;
    margin-right: 1em;
  }

  #block-block-6 .span8 {
    display: none;
  }
}
/* ----- Print ----------------------- */
